* {
  box-sizing: border;
  margin: 0;
  padding: 0

}

article {
  display: flex;
  flex-wrap: wrap;
}

article > * {
  width: 100%;
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-family: sans-serif;
  color: black;
}

nav {
  background-color: #5995DA;
  min-height: 10vh;
}

header {
  background-color: #B2D6FF;
}

main {
  background-color: #EAEDF0;
  height: 50vh;
}

#sign-up {
  background-color: #D6E9FE;
}

#feature-1 {
  background-color: #F5CF8E;
}

#feature-2 {
  background-color: #F09A9D;
}

#feature-3 {
  background-color: #C8C6FA;
}

/* Tablet */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  section {
    width: 50vw;
    min-height: 50vw;
  }
}

@media only screen and (min-width: 961px) {
header {
  min-height: 30vh;
}
#feature-1, #feature-2, #feature-3 {
  flex: 1;
  min-height: 45vw
}
#sign-up {
  order: 1
}
main {
  order: 2
}
}